.wp-block-cno-cover-video-cno-plugin-cover-video-block {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	aspect-ratio: 16 / 9;

	@media screen and (min-width: 768px) {
		& {
			aspect-ratio: unset;
			min-height: var(--custom-minHeight);
		}
	}

	&__content-container {
		position: relative;
		z-index: 1;
	}

	.wp-block-cno-lite-vimeo-cno-plugin-lite-vimeo-block {
		position: absolute;
		inset: 0;
		z-index: -1;
		overflow: hidden;
		width: 100%;
	}
}
